= provide(:title, @user.name)

/ Show user
.row
  / Left
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
    %section.stats
      = render 'shared/stats'

  / Right
  .col-md-8
    = render 'follow_form' if user_logged_in?

    %h3
      Microposts (#{@user.microposts.count})

    - if @user.microposts.any?
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
    - else
      Currently none
